<DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <p>Puppy Name: <%= @name %></p>
    </form>
  </body>
</html>

  expect(page).to have_text("Puppy Name:\nButch")
      expect(page).to have_text("Puppy Breed:\nMastiff")
      expect(page).to have_text("Puppy Age:\n6 months")