<DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <p>Puppy Name: \n <%= @name %></p>
    <p>Puppy Breed: \n <%= @breed %></p>
    <p>Puppy Age: \n<%= @age %></p>
    </form>
  </body>
</html>
